@model ForView
@{
    ViewData["Title"] = "Home Page";
}




    <!-- Main container -->
    <main>

    <header class="site-header size-lg text-center" style="background-image: url(/assets/img/bg-banner1.jpg)">
        <div class="container">
            <div class="col-xs-12">
                <br><br>
                <h2>Мы предлагаем <mark>присоединиться</mark> к нам прямо сейчас!</h2>
                <h5 class="font-alt">Найди работу для себя</h5>
                <br><br><br>
                        <form class="header-job-search" asp-action="Vacancies" method="post">
                            <div class="input-keyword">
                                <input type="text" class="form-control" name="title" placeholder="Поиск по названию или навыкам">
                            </div>
                            <div class="input-keyword">
                                <select class="form-control" name="type">

                                    <option selected value="0">Все категории</option>
                                    @foreach (var VARIABLE in Model.ListTypeVacancies)
                                    {
                                        <option value="@VARIABLE.Id">@VARIABLE.Name (@Model.ListVacancyRequests.Count(c => c.Type == VARIABLE.Id))</option>
                                    }




                                </select>
                            </div>
                            

                            <div class="btn-search">
                                <button class="btn btn-primary" type="submit">Найти</button>

                            </div>
                        </form>
            </div>

        </div>
    </header>

        <!-- Recent jobs -->
        <section>
            <div class="container">
                <header class="section-header">
                    <span>Новые</span>
                    <h2>Недавние вакансии</h2>
                </header>

                <div class="row item-blocks-connected">
                    @foreach(var item in Model.ListVacancyRequests.OrderByDescending(c=> c.Date).ToList().GetRange(0,3))
                    {
                        <div class="col-xs-12">
                            <a class="item-block" asp-action="SingleVacancy" asp-route-id="@item.Id">
                                <header>
                                    
                                    <div class="hgroup">
                                        
                                        <h4>@((item.Title.Length > 50)?item.Title.Substring(0, 50)+"...":item.Title)</h4>
                                        <h5>@item.TypeNavigation.Name</h5>
                                    </div>
                                    <div class="header-meta">
                                        @if (item.SalaryMin is null && item.SalaryMax != null)
                                        {
                                            <span>до @item.SalaryMax руб.</span>
                                        }
                                        else if (item.SalaryMax is null && item.SalaryMin != null)
                                        {
                                            <span>от @item.SalaryMin руб.</span>
                                        }
                                        else if (item.SalaryMin == null && item.SalaryMax == null)
                                        {
                                            <span>з/п не указана</span>
                                        }
                                        else
                                        {
                                            <span>от @item.SalaryMin до @item.SalaryMax руб.</span>
                                        }
                                        @if (item.TypeOfEmployment == 1)
                                        {
                                            <span class="label label-primary">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 2)
                                        {
                                            <span class="label label-success">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 3)
                                        {
                                            <span class="label label-info">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 4)
                                        {
                                            <span class="label label-warning">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else 
                                        {
                                            <span class="label label-danger">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                    </div>
                                </header>
                            </a>
                        </div>
                    }
                    

                </div>

                <br><br>
                <p class="text-center"><a class="btn btn-info" asp-action="Vacancies">Показать все вакансии</a></p>
            </div>
        </section>
        <!-- END Recent jobs -->
        <!-- Facts -->
        <section class="bg-img bg-repeat no-overlay section-sm" style="background-image: url(~/assets/img/bg-pattern.png)">
            <div class="container">

                <div class="row">
                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="@Model.ListVacancyRequests.Count"></span></p>
                        <h6>Вакансий</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="@Model.ListsStaves.Count"></span></p>
                        <h6>Сотрудников</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="@Model.ListRequests.Count"></span></p>
                        <h6>Откликов</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="@Model.ListVacancyRequests.Count(c=> c.Status == 2)"></span></p>
                        <h6>Завершенный вакансий</h6>
                    </div>
                </div>

            </div>
        </section>
        <!-- END Facts -->
        <!-- How it works -->
        <section>
            <div class="container">

                <div class="col-sm-12 col-md-6">
                    <header class="section-header text-left">
                        <span>Найди вакансию</span>
                        <h2>Как это работает</h2>
                    </header>

                    <p class="lead text-justify">После нажатия на кнопку «Откликнуться» создается специальный документ, отклик, который содержит краткую информацию о соискателе.Работодатель видит все отклики на странице. Под каждым откликом есть ссылка на сопроводительное письмо. Если работодателя заинтересовал отклик, он может кликнуть на нее, чтобы прочитать сопроводительное письмо.</p>
                    <p class="lead text-justify">На каждом из этих этапов просмотра отклика работодатель может кликнуть на кнопку «Пригласить» или «Отказать», и соискателю уйдет соответствующее уведомление. Если работодатель просмотрел страницу с сопроводительным письмом, но не послал приглашения или отказа, то у такого отклика появится статус «На рассмотрении».</p>


                    <br><br>
                    <a class="btn btn-primary" href="page-typography.html">Learn more</a>
                </div>

                <div class="col-sm-12 col-md-6 hidden-xs hidden-sm" style="margin-top: 170px;">
                    <br>
                    <img class="center-block" src="~/assets/img/how-it-works.png" alt="how it works">
                </div>

            </div>
        </section>
        <!-- END How it works -->
        <!-- Categories -->
        <section class="bg-alt">
            <div class="container">
                <header class="section-header">
                    <span>Категории</span>
                    <h2>Выбери профессию</h2>
                    <p></p>
                </header>

                <div class="category-grid">
                    <a asp-action="Vacancies" asp-route-type="1">
                        <i class="fa fa-laptop"></i>
                        <h6>IT отдел</h6>
                        <p>Системные администраторы, техники, программисты и безопасники.</p>
                    </a>

                    <a asp-action="Vacancies" asp-route-type="2">
                        <i class="fa fa-graduation-cap"></i>
                        <h6>Преподаватели</h6>
                        <p>Вакансии по преподаваемым дисциплинам и лаборанты</p>
                    </a>

                    <a asp-action="Vacancies" asp-route-type="3">
                        <i class="fa fa-plane"></i>
                        <h6>Администрация</h6>
                        <p>Заведующие кафедрами, заместители</p>
                    </a>

                    <a asp-action="Vacancies" asp-route-type="4">
                        <i class="fa fa-wrench"></i>
                        <h6>Отдел снабжения</h6>
                        <p>Монтажники, ремонтники, электрики и разнорабочие</p>
                    </a>

                    <a asp-action="Vacancies" asp-route-type="5">
                        <i class="fa fa-shield"></i>
                        <h6>Охрана</h6>
                        <p>Вахтеры, охранники и сотрудники контроля</p>
                    </a>

                    <a asp-action="Vacancies" asp-route-type="6">
                        <i class="fa fa-magic"></i>
                        <h6>Отдел маркетинга</h6>
                        <p>Арбитрижники трафика и маркетологи</p>
                    </a>
                </div>

            </div>
        </section>
        <!-- END Categories -->
       


    </main>
    <!-- END Main container -->
    <!-- Site footer -->

