@model ForViewSingle
@{
    ViewData["Title"] = "SingleVacancy";
}

<header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner2.jpg)">
    <div class="container">
        <div class="header-detail">
            <img class="logo" src="assets/img/logo-google.jpg" alt="">
            <div class="hgroup">
                <h1>@Model.VacancyRequests.Title</h1>
                <h3><a href="#">@Model.TypeVacancies.Name</a></h3>
                <p>Дата публикации вакансии: @Model.VacancyRequests.Date.ToShortDateString()</p>
            </div>
            
            @if ((DateTime.Now - Model.VacancyRequests.Date).Days > 0)
            {
                <time datetime="@Model.VacancyRequests.Date">@((DateTime.Now - Model.VacancyRequests.Date).Days) дней назад</time>
            }
            else
            {
                if ((DateTime.Now - Model.VacancyRequests.Date).Hours > 0)
                {
                    <time datetime="@Model.VacancyRequests.Date">@((DateTime.Now - Model.VacancyRequests.Date).Hours) часов назад</time>
                }
                else
                {
                    if ((DateTime.Now - Model.VacancyRequests.Date).Minutes > 0)
                    {
                        <time datetime="@Model.VacancyRequests.Date">@((DateTime.Now - Model.VacancyRequests.Date).Minutes) минут назад</time>
                    }
                }
            }
            <hr>
            

            <ul class="details cols-3">

                
                <li>
                    <i class="fa fa-briefcase"></i>
                    <span>@Model.TypeOfEmployments.Name, @Model.TimeTables.Name</span>
                </li>

                <li>
                    <i class="fa fa-money"></i>
                    @if (Model.VacancyRequests.SalaryMin is null && Model.VacancyRequests.SalaryMax != null)
                    {
                        <span>до @Model.VacancyRequests.SalaryMax руб.</span>
                    }
                    else if (Model.VacancyRequests.SalaryMax is null && Model.VacancyRequests.SalaryMin != null)
                    {
                        <span>от @Model.VacancyRequests.SalaryMin руб.</span>
                    }
                    else if (Model.VacancyRequests.SalaryMin == null && Model.VacancyRequests.SalaryMax == null)
                    {
                        <span>з/п не указана</span>
                    }
                    else
                    {
                        <span>от @Model.VacancyRequests.SalaryMin до @Model.VacancyRequests.SalaryMax руб.</span>
                    }
                </li>
                <li>
                    <i class="fa fa-flask"></i>
                    @if (@Model.VacancyRequests.Experience == 0)
                    {
                        <span>Опыт работы не требуется</span>
                    }
                    else if (@Model.VacancyRequests.Experience == 1)
                    {
                        <span>Опыт работы от 1 года</span>
                    }
                    else
                    {
                        <span>Опыт работы от @Model.VacancyRequests.Experience лет</span>
                    }

                </li>

                <li>
                    <i class="fa fa-user"></i>
                    <span>Контактное лицо: @Model.Staves.LastName @Model.Staves.FirstName</span>
                </li>

                <li>
                    <i class="fa fa-phone"></i>
                    <span>Контактный телефон: @Model.Staves.Phone</span>
                </li>



                <li>
                    <i class="fa fa-envelope"></i>
                    <span>Контактная почта: @Model.Staves.Email</span>
                </li>
            </ul>

            <div class="button-group">
                <div class="action-buttons">
                    <a class="btn btn-success" href="javascript:void(0)" onclick="
                            document.getElementById('form').hidden = false;
                    ">Откликнуться</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                @Html.Raw(TempData["msg"])
                <form asp-action="SendRequest" id="form" hidden="true" asp-route-id="@Model.VacancyRequests.Id" method="post">
                    <h4>Форма заявки</h4>
                    <div class="form-group col-sm-12 col-md-4">
                        <input type="text" class="form-control input-lg" name="LastName" required="" placeholder="Фамилия">
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <input type="text" class="form-control input-lg" name="FirstName" required="" placeholder="Имя">
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <input type="text" class="form-control input-lg" name="MiddleName" placeholder="Отчество">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <input type="email" class="form-control input-lg" required="" name="Email" placeholder="Email">
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <input type="number" class="form-control input-lg" required="" name="Phone" placeholder="Телефон">
                    </div>
                    <div class="form-group col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-primary" onclick="alert(Отправлено);">Принять</button>
                        <a class="btn btn-primary" href="javascript:void(0)" onclick=" document.getElementById('form').hidden = true;">Отмена</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</header>
<main>
    
    <!-- Job detail -->
    <section>
        <div class="container">

            <p class="lead text-justify">@Model.VacancyRequests.Description</p>
            <hr/>
            <h4>Обязанности</h4>
            <ul>
                @foreach (var item in @Model.ListDuties)
                {
                    <li>@item.Name</li>
                }

            </ul>

            <br>
            <h4>Требование</h4>
            <ul>
                @foreach (var item in @Model.ListRequirements)
                {
                    <li>@item.Name</li>
                }

            </ul>

            <br>
            <h4>Условия</h4>
            <ul>
                @foreach (var item in @Model.ListConditions)
                {
                    <li>@item.Name</li>
                }

            </ul>

        </div>
    </section>
    <!-- END Job detail -->

</main>



