@model ForView
@{
    ViewData["Title"] = "Vacancies";
}



<header class="page-header bg-img" style="background-image: url(/assets/img/bg-banner1.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Выбери подходящую вакансию</h1>
        <p class="lead text-center">И отправь заявку. Возможно работа ждала именно тебя!</p>
    </div>

    <div class="container">
        <form asp-action="Vacancies" method="get">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input value="@(Model.Filter.Title)" type="text" class="form-control" name="title" placeholder="Название профессии">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <input value="@(Model.Filter.Salary)" type="number" class="form-control" name="salary" placeholder="Минимальная зарплата">
                </div>
                
                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" name="type">
                        @if (Model.Filter.Type != 0 && Model.Filter.Type != 0)
                        {
                            <option value="0">Все категории</option>
                            @foreach (var VARIABLE in Model.ListTypeVacancies)
                            {
                                if (VARIABLE.Id == Model.Filter.Type)
                                {
                                    <option selected="" id="type@(VARIABLE.Id)" value="@VARIABLE.Id">@VARIABLE.Name (@Model.AllListVacancyRequests.Count(c=> c.Type == VARIABLE.Id))</option>
                                }
                                else
                                {
                                    <option id="type@(VARIABLE.Id)" value="@VARIABLE.Id">@VARIABLE.Name (@Model.AllListVacancyRequests.Count(c => c.Type == VARIABLE.Id))</option>
                                }
                                
                            }

                        }
                        else
                        {
                            <option selected value="0">Все категории</option>
                            @foreach (var VARIABLE in Model.ListTypeVacancies)
                            {
                                <option value="@VARIABLE.Id">@VARIABLE.Name (@Model.AllListVacancyRequests.Count(c => c.Type == VARIABLE.Id))</option>
                            }

                        }


                    </select>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Тип занятости</h6>
                    <div class="checkall-group">

                        @if (Model.Filter.TypeOfEmployment.Length > 0)
                        {
                            if (Model.Filter.TypeOfEmployment.Contains(0))
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TypeOfEmployments" name="typeOfEmployments" value="0" checked>
                                    <label for="TypeOfEmployments">Все типы</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TypeOfEmployments" name="typeOfEmployments" value="0">
                                    <label for="TypeOfEmployments">Все типы</label>
                                </div>

                            }
                            @foreach (var VARIABLE in Model.ListTypeOfEmployments)
                            {

                                if (Model.Filter.TypeOfEmployment.Contains(VARIABLE.Id))
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" checked id="TypeOfEmployments(@VARIABLE.Id)" value="@VARIABLE.Id" name="typeOfEmployments">
                                        <label for="TypeOfEmployments(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TypeOfEmployment == VARIABLE.Id))</small></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" id="TypeOfEmployments(@VARIABLE.Id)" value="@VARIABLE.Id" name="typeOfEmployments">
                                        <label for="TypeOfEmployments(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TypeOfEmployment == VARIABLE.Id))</small></label>
                                    </div>
                                }

                            }
                        }
                        else
                        {
                            <div class="checkbox">
                                <input type="checkbox" id="TypeOfEmployments" name="typeOfEmployments" value="0" checked>
                                <label for="TypeOfEmployments">Все типы</label>
                            </div>
                            @foreach (var VARIABLE in Model.ListTypeOfEmployments)
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TypeOfEmployments(@VARIABLE.Id)" value="@VARIABLE.Id" name="typeOfEmployments">
                                    <label for="TypeOfEmployments(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TypeOfEmployment == VARIABLE.Id))</small></label>
                                </div>
                            }
                        }



                    </div>
                    </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <h6>График работы</h6>
                    <div class="checkall-group">
                        @if (Model.Filter.TimeTables.Length > 0)
                        {
                            if (Model.Filter.TimeTables.Contains(0))
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TimeTables" name="timeTables" value="0" checked>
                                    <label for="TimeTables">Все типы</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TimeTables" name="timeTables" value="0">
                                    <label for="TimeTables">Все типы</label>
                                </div>

                            }
                            
                            @foreach (var VARIABLE in Model.ListTimeTables)
                            {

                                if (Model.Filter.TimeTables.Contains(VARIABLE.Id))
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" checked id="TimeTables(@VARIABLE.Id)" name="timeTables" value="@VARIABLE.Id">
                                        <label for="TimeTables(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TimeTable == VARIABLE.Id))</small></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" id="TimeTables(@VARIABLE.Id)" name="timeTables" value="@VARIABLE.Id">
                                        <label for="TimeTables(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TimeTable == VARIABLE.Id))</small></label>
                                    </div>
                                }

                            }
                        }
                        else
                        {
                            <div class="checkbox">
                                <input type="checkbox" id="TimeTables" name="timeTables" value="0" checked>
                                <label for="TimeTables">Все типы</label>
                            </div>
                            @foreach (var VARIABLE in Model.ListTimeTables)
                            {
                                <div class="checkbox">
                                    <input type="checkbox" id="TimeTables(@VARIABLE.Id)" name="timeTables" value="@VARIABLE.Id">
                                    <label for="TimeTables(@VARIABLE.Id)">@VARIABLE.Name <small>(@Model.AllListVacancyRequests.Count(c => c.TimeTable == VARIABLE.Id))</small></label>
                                </div>
                            }

                        }



                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Вакансий на странице</h6>
                    <div class="radio-inline">
                        <div class="radio">
                            <input type="radio" id="VacOnPage1" name="vacanOnPage" value="1" >
                            <label for="VacOnPage1">1</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="VacOnPage3" name="vacanOnPage" value="3" >
                            <label for="VacOnPage3">3</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="VacOnPage5" name="vacanOnPage" value="5" >
                            <label for="VacOnPage5">5</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="VacOnPage10" name="vacanOnPage" value="10">
                            <label for="VacOnPage10">10</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="VacOnPage20" name="vacanOnPage" value="20" >
                            <label for="VacOnPage20">20</label>
                        </div>
                        <div class="radio">
                            <input type="radio" id="VacOnPage50" name="vacanOnPage" value="50" >
                            <label for="VacOnPage50">50</label>
                        </div>
                    </div>
                </div>
                <script>document.getElementById("VacOnPage@(Model.Filter.VacancyOnPage)").checked = true;</script>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Применить фильтр</button>
                </div>
            </div>

        </form>

    </div>

</header>
    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-12">
                        <br>
                        <h5>Мы нашли <strong>@Model.ListVacancyRequests.Count</strong> вакансий, вам показано <i>@Model.ListVacancyRequests.Count</i> из <i>@Model.ListVacancyRequests.Count</i></h5>
                    </div>

                    <!-- Job item -->
                    <div class="col-xs-12">
                        @foreach (var item in @Model.ListVacancyRequests)
                        {
                            <a class="item-block" asp-action="SingleVacancy" asp-route-id="@item.Id">
                                <header>
                                    @if (item.Type == 1)
                                    {
                                        <img src="~/assets/img/IT.jpg" alt="">
                                    }
                                    else if (item.Type == 2)
                                    {
                                        <img src="~/assets/img/ped.jpg" alt="">
                                    }
                                    else if (item.Type == 3)
                                    {
                                        <img src="~/assets/img/admin.jpg" alt="">
                                    }
                                    else if (item.Type == 4)
                                    {
                                        <img src="~/assets/img/snab.jpg" alt="">
                                    }
                                    else if (item.Type == 5)
                                    {
                                        <img src="~/assets/img/def.jpg" alt="">
                                    }
                                    else if (item.Type == 6)
                                    {
                                        <img src="~/assets/img/mark.jpg" alt="">
                                    }
                                    <div class="hgroup">
                                        <h4>@((item.Title.Length > 50)?item.Title.Substring(0, 50)+"...":item.Title)</h4>
                                        @if (item.TypeOfEmployment == 1)
                                        {
                                            <span class="label label-primary">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 2)
                                        {
                                            <span class="label label-success">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 3)
                                        {
                                            <span class="label label-info">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else if (item.TypeOfEmployment == 4)
                                        {
                                            <span class="label label-warning">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">@item.TypeOfEmploymentNavigation.Name</span>
                                        }
                                    </div>
                                    @if ((DateTime.Now - item.Date).Days > 0)
                                    {
                                        <time datetime="@item.Date">@((DateTime.Now - item.Date).Days) дней назад</time>
                                    }
                                    else
                                    {
                                        if ((DateTime.Now - item.Date).Hours > 0)
                                        {
                                            <time datetime="@item.Date">@((DateTime.Now - item.Date).Hours) часов назад</time>
                                        }
                                        else
                                        {
                                            if ((DateTime.Now - item.Date).Minutes > 0)
                                            {
                                                <time datetime="@item.Date">@((DateTime.Now - item.Date).Minutes) минут назад</time>
                                            }
                                        }
                                    }
                                </header>

                                <div class="item-body">
                                    <p>@((item.Description.Length > 250)?item.Description.Substring(0, 250)+"...":item.Description)</p>
                                </div>

                                <footer>
                                    <ul class="details cols-3">
                                        <li>
                                            <i class="fa fa-money"></i>
                                            @if (item.SalaryMin is null && item.SalaryMax != null)
                                            {
                                                <span>до @item.SalaryMax руб.</span>
                                            }
                                            else if (item.SalaryMax is null && item.SalaryMin != null)
                                            {
                                                <span>от @item.SalaryMin руб.</span>
                                            }
                                            else if (item.SalaryMin == null && item.SalaryMax == null)
                                            {
                                                <span>з/п не указана</span>
                                            }
                                            else
                                            {
                                                <span>от @item.SalaryMin до @item.SalaryMax руб.</span>
                                            }
                                        </li>

                                        <li>
                                            <i class="fa fa-certificate"></i>
                                            <span>@item.TypeNavigation.Name</span>
                                        </li>
                                    </ul>
                                </footer>
                            </a>
                        }
                        
                    </div>

                </div>


                <!-- Page navigation -->
                <nav class="text-center">
                    <ul class="pagination">
                        @if (Model.Filter.Page == 1)
                        {
                            <li class="active"><a href="#">@(Model.Filter.Page)</a></li>
                            if (Model.Filter.Page + 1 <= Model.Filter.PageMax)
                            {
                                
                                <li><a href="@Url.Action("Vacancies", new
                                             {
                                                 title = @Model.Filter.Title, page = @Model.Filter.Page+1, salary = @Model.Filter.Salary,
                                                 type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                                 timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                             })">@(Model.Filter.Page+1)</a></li>
                            }
                            if (Model.Filter.PageMax > 1)
                            {
                                <li>
                                    <a href="@Url.Action("Vacancies", new
                                             {
                                                 title = @Model.Filter.Title, page = @Model.Filter.Page+1, salary = @Model.Filter.Salary,
                                                 type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                                 timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                             })" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            }

                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Vacancies", new
                                         {
                                             title = @Model.Filter.Title, page = @Model.Filter.Page-1, salary = @Model.Filter.Salary,
                                             type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                             timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                         })" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li><a href="@Url.Action("Vacancies", new
                                         {
                                             title = @Model.Filter.Title, page = @Model.Filter.Page-1, salary = @Model.Filter.Salary,
                                             type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                             timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                         })">@(Model.Filter.Page-1)</a></li>



                            <li class="active"><a href="#">@(Model.Filter.Page)</a></li>
                            if (Model.Filter.Page + 1 <= Model.Filter.PageMax)
                            {
                                <li><a href="@Url.Action("Vacancies", new
                                             {
                                                 title = @Model.Filter.Title, page = @Model.Filter.Page+1, salary = @Model.Filter.Salary,
                                                 type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                                 timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                             })">@(Model.Filter.Page+1)</a></li>
                            }



                            if (Model.Filter.PageMax != Model.Filter.Page)
                            {
                                <li>
                                    <a href="@Url.Action("Vacancies", new
                                             {
                                                 title = @Model.Filter.Title, page = @Model.Filter.Page+1, salary = @Model.Filter.Salary,
                                                 type = @Model.Filter.Type, typeOfEmployments = @Model.Filter.TypeOfEmployment,
                                                 timeTables = @Model.Filter.TimeTables, VacanOnPage = @Model.Filter.VacancyOnPage
                                             })" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            }

                        }

                    </ul>
                </nav>
                <!-- END Page navigation -->

            </div>
        </section>
    </main>
    <!-- END Main container -->
    <!-- Site footer -->

